html,
body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.background-gradient-pattern {
	position: absolute;
	inset: 0px;
	background-image: url('/guilloche.svg');
	background-repeat: repeat;
	background-position: right top;
	background-size: 20px, 20px;
	mix-blend-mode: overlay;
}

.background-gradient {
  -webkit-mask-image: radial-gradient(
    farthest-side at 50% 100%,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(90deg,#ffffff,#ffae33,1));
}

.card-gradient {
  background: radial-gradient(
    farthest-side at 50% 0%,
    #1b8dbf,
    #38bdf8
  );
}

.background-gradient-dove {
  -webkit-mask-image: radial-gradient(
    farthest-side at 100% 100%,
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(90deg,#ffffff,#ffae33,1));
}
 
.tab-gradient {
	background: linear-gradient(135deg, rgba(27,37,57,1) 0%, rgba(0,6,18,1) 100%);
}

.features-blur {
	background: linear-gradient(267deg, rgba(35,36,40,1) 22%, rgba(94,124,241,1) 40%, rgba(29,167,235,1) 54%, rgba(175,176,176,1) 69%, rgba(155,207,242,1) 89%);
}

.button-gradient {
	background: linear-gradient(94deg, rgba(29,167,235,1) -22%, rgba(255,255,255,1) 42%, rgba(155,207,242,1) 89%);
}